body{

        background-color: aquamarine;

}



table{
    width:50%;
    height: 250px;
    background-color: rgb(224, 240, 9);

}


td{
        width: 350px;
      
    height: 20px;

}



.a{
    background-color: darkgoldenrod;
    height: 100px;
}



.hola{
         font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 35px;
        background-color: rgb(31, 172, 43);  
        font-weight: 25px;     
}



img{

            width: 100%;
            height: 150px;
}


.c{
    background-color: tomato;


}

.b{        
            float: right;



}
